* {
    padding: 0px;
    box-sizing: 0px;
    margin: 0px;
}

body {
    font-family: Georgia;
    background-image: url("../Data/4683.jpg");
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 2.5rem;
}

h1{
    margin: 2rem 0px;
}

label{
   font-size: 1.2rem; 
   margin-left: 15px;
}

input{
    font-size: 1.05rem; 
    display: inline-block;
    width: 12rem;
    height: 1.5rem;
    margin: 0 auto;
    padding-left: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
}

p{
    display: inline-block;
}

.danger{
    color:red;
}

p.danger{
    margin-right: 4px;
}

form{
    width:60vw;
    margin: 2.5rem auto;
    border: 2px solid black;
    text-align: center;
    border-radius:10px;
    backdrop-filter: blur(1.8px);
}

button{
    font-size: 1.1rem; 
    display: inline-block;
    width: 14rem;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    height: 2.5rem;
    font-weight: bold;
    transition-duration: 1s;
}

button:hover{
    font-size: 1.4rem; 
    border-radius: 0;
}

#profileHeader{
    margin: 10px 0px;
}

#profile{
    font-weight: bold;
    padding: 15px 0px;
    line-height: 2.5rem;
    font-size: 1.2rem; 
    width:60vw;
    border: 2px solid black;
    margin: 2.5rem auto;
    text-align: center;
    border-radius:10px;
    backdrop-filter: blur(1.8px);
}

#artworks{
    width:60vw;
    margin: 2.5rem auto;
    border: 2px solid black;
    text-align: center;
    border-radius:10px;
    backdrop-filter: blur(1.8px);
}